<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>HelloCordova</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>

    <!-- custom app icon logic -->
    <platform name="ios">
        <resource-file src="res/icon/appiconchanger/icon_phonegap.png" target="icon_phonegap.png" />
        <config-file target="*-Info.plist" parent="CFBundleIcons">
            <dict>
                <key>CFBundleAlternateIcons</key>
                <dict>
                    <key>fc_icon_default</key>
                    <dict>
                        <key>CFBundleIconFiles</key>
                        <array>
                            <string>AppIcon.appiconset</string>
                        </array>
                    </dict>

                    <key>icon_phonegap</key>
                    <dict>
                        <key>UIPrerenderedIcon</key>
                        <true/>
                        <key>CFBundleIconFiles</key>
                        <array>
                            <string>icon_phonegap</string>
                        </array>
                    </dict>
                </dict>
            </dict>
            
        </config-file>
        
        <config-file target="*-Info.plist" parent="CFBundleIcons~ipad">
            <dict>
                <key>CFBundleAlternateIcons</key>
                <dict>
                    <key>fc_icon_default</key>
                    <dict>
                        <key>CFBundleIconFiles</key>
                        <array>
                            <string>AppIcon.appiconset</string>
                        </array>
                    </dict>

                    <key>icon_phonegap</key>
                    <dict>
                        <key>UIPrerenderedIcon</key>
                        <true/>
                        <key>CFBundleIconFiles</key>
                        <array>
                            <string>icon_phonegap</string>
                        </array>
                    </dict>
                </dict>
            </dict>
        </config-file>           
    </platform>

    <platform name="android">
        <resource-file src="res/icon/appiconchanger/icon_phonegap.png" target="app/src/main/res/drawable/icon_phonegap.png" />

        <config-file target="res/values/strings.xml" parent="/*">
            <string name="default_icon_id">fc_icon_default</string>
        </config-file>

        <edit-config file="AndroidManifest.xml" target="/manifest/application/activity[@android:name='MainActivity']" mode="overwrite">
            <activity android:name="MainActivity"/>
        </edit-config>   

        <custom-preference delete="true" name="android-manifest/application/activity[@android:name='MainActivity']/intent-filter/category[@android:name='android.intent.category.LAUNCHER']" />

        <config-file target="AndroidManifest.xml" parent="application">
            <activity-alias android:enabled="false" android:name="org.apache.cordova.appiconchanger.MainActivity__icon_phonegap" android:icon="@drawable/icon_phonegap" android:label="@string/app_name" android:targetActivity="MainActivity" android:configChanges="orientation|screenSize" android:noHistory="true">
                <intent-filter>
                    <action android:name="android.intent.action.MAIN" />
                    <category android:name="android.intent.category.LAUNCHER" />
                </intent-filter>
                
            </activity-alias>
            
            <activity-alias android:enabled="true" android:name="org.apache.cordova.appiconchanger.MainActivity__fc_icon_default" android:icon="@mipmap/ic_launcher" android:label="@string/app_name" android:targetActivity="MainActivity" android:configChanges="orientation|screenSize" android:noHistory="true">
                <intent-filter>
                    <action android:name="android.intent.action.MAIN"/>
                    <category android:name="android.intent.category.LAUNCHER"/>
                </intent-filter>
            </activity-alias>
        </config-file>           
    </platform>
    <!-- custom app icon logic -->
</widget>
